$yellow: #F5DD16;
$dark-grey: #7c7c7c;
$light-grey: #BEBEBE;
$ultra-light-grey: #ece8e8;
$red: #EE4525;

#table-wrapper {
  position:relative;
  margin-top: 16px;
}

#table-wrapper p{
  margin-bottom: 0;
}

#table-scroll {
  height:80px;
  overflow:auto;
  background-color: $ultra-light-grey;
}

#table-wrapper table {
  width:100%;
}

#table-wrapper table * {
  color:black;
}

.form-label {
  margin-top:8px;
  margin-bottom:0px;
}

.navbar{
  background-color: $dark-grey;
  .navbar-brand{
    color: $yellow !important;
    margin-left: 25%;
  }
  margin-bottom: 8px;
}

.invalid{
  border:1px solid $red;
}

.contacts_list{
  margin-top: 16px;
  .title{
    font-size: 22px;
    color: $dark-grey;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .create_contact_btn{
    background-color: $dark-grey;
    border-color: $dark-grey;
    font-weight: 500;
    margin-top: 10px;
  }

  .card{
    background-color: $dark-grey;
    table{
      tbody > tr:nth-child(1) > td{
        border-top: 0;
      }
      color: white;
      font-weight: 500;
      margin-bottom: 5px;

      .check{
        color: $yellow;
        font-size: 15px;
      }
      .delete{
        color: white;
      }
    }
  }
}